services:
  socket-proxy:
    image: docker.io/tecnativa/docker-socket-proxy
    container_name: socket-proxy
    user: root
    privileged: true
    volumes:
      - '${DOCKER_SOCK}:/var/run/docker.sock:rw'
    ports:
      - '2375:2375'
    environment:
      - CONTAINERS=1
      - SERVICES=1
      - SWARM=1
      - TASKS=1
      - NETWORKS=1
      - NODES=1
      - INFO=1
      - VERSION=1
      - EVENTS=1
      - PING=1
      - POST=1
    networks:
      - wshorizontalscaling      
  consul:
    image: docker.io/hashicorp/consul:latest
    ports:
      - "8500:8500"
    command: agent -server -bootstrap -ui -client=0.0.0.0
    networks:
      - wshorizontalscaling    

  registrator:
    image: docker.io/gliderlabs/registrator:master
    user: root
    privileged: true      
    volumes:
      - ${DOCKER_SOCK}:/tmp/docker.sock:rw
    command: "-resync 3 -internal consul://consul:8500"
    depends_on:
      - consul
    networks:
      - wshorizontalscaling      

  haproxy:
    image: docker.io/haproxy:2.8-alpine
    container_name: haproxy
    user: root
    privileged: true
    ports:
      - "8000:8000"      # Traffic
      - "8404:8404"  # Dashboard (See the magic happening)
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      # Socket for dynamic commands (The Secret Sauce)
      - haproxy-socket:/var/run/haproxy
    networks:
      - wshorizontalscaling

  haproxy-sidecar:
      build:
        context: .
        dockerfile: Dockerfile.haproxy-sidecar
      container_name: haproxy-sidecar
      privileged: true
      user: root      
      depends_on:
        - haproxy
        - consul
      volumes:
        # Templates and Scripts
        - ./haproxy/hosts.ctmpl:/etc/consul-templates/hosts.ctmpl
        - ./haproxy/update-haproxy.sh:/etc/consul-templates/update-haproxy.sh
        # Access to the socket
        - haproxy-socket:/var/run/haproxy
      # The Command: Run template, output to /tmp, trigger script
      command: >
        -consul-addr=consul:8500
        -template="/etc/consul-templates/hosts.ctmpl:/tmp/hosts.map:/bin/sh /etc/consul-templates/update-haproxy.sh"
      networks:
        - wshorizontalscaling
  ws-app:
    image: 'docker.io/jhonnyvennom/ws-app-server:1.1.1-${OS_ARCH}'
    ports:
      - '8088'
    environment:
      - PORT=8088
      # CRITICAL: This tells Registrator to call it "ws-app"
      - SERVICE_8088_NAME=ws-app
      - SERVICE_8080_IGNORE=true
      - SERVICE_8443_IGNORE=true
      # Optional: Tell Registrator which port to check (if image exposes multiple)
      - SERVICE_PORT=8088
      - MAX_CONNECTIONS_PER_HOST=${MAX_CONNECTIONS_PER_HOST}
    depends_on:
      - haproxy
      - consul
    networks:
      - wshorizontalscaling
  ws-balancer-app:
    image: 'docker.io/jhonnyvennom/connection_rebalancer:1.2.0-${OS_ARCH}'
    ports:
      - '8488:8488'
    environment:
      - CONNECTION_LIMIT_PER_HOST=${CONNECTION_LIMIT_PER_HOST}
      - OVERUTILIZED_TOLERANCE_PERCENT=${OVERUTILIZED_TOLERANCE_PERCENT}
      - UNDERUTILIZED_TOLERANCE_PERCENT=${UNDERUTILIZED_TOLERANCE_PERCENT}
      - MAX_UTILIZATION_PERCENT=${MAX_UTILIZATION_PERCENT}
      - MIN_UTILIZATION_PERCENT=${MIN_UTILIZATION_PERCENT}
    depends_on:
      - haproxy
      - consul
    networks:
      - wshorizontalscaling
  ws-frontend-app:
    image: 'docker.io/jhonnyvennom/communications_app:1.1.2-${OS_ARCH}'
    ports:
      - '8489:80'
    depends_on:
      - haproxy
      - consul
    networks:
      - wshorizontalscaling
  ws-client-app:
    image: 'docker.io/jhonnyvennom/ws-client-app:1.1.1-${OS_ARCH}'
    ports:
      - '8089:8089'
    depends_on:
      - haproxy
      - consul
      - ws-app      
    networks:
      - wshorizontalscaling
  redis:
    image: redis
    ports:
      - '6379:6379'
    depends_on:
      - haproxy
      - consul
    networks:
      - wshorizontalscaling
volumes:
  haproxy-socket: {}
networks:
  wshorizontalscaling:
    driver: bridge
