services:
  socket-proxy:
    image: docker.io/tecnativa/docker-socket-proxy
    container_name: socket-proxy
    user: root
    privileged: true
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:rw'
    ports:
      - '2375:2375'
    environment:
      - CONTAINERS=1
      - SERVICES=1
      - SWARM=1
      - TASKS=1
      - NETWORKS=1
      - NODES=1
      - INFO=1
      - VERSION=1
      - EVENTS=1
      - PING=1
      - POST=1      
  consul:
    image: docker.io/hashicorp/consul:latest
    ports:
      - "8500:8500"
    command: agent -server -bootstrap -ui -client=0.0.0.0

  registrator:
    image: docker.io/gliderlabs/registrator:latest
    user: root
    privileged: true      
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:rw
    command: "-internal consul://consul:8500"
    depends_on:
      - consul

  haproxy:
    image: docker.io/haproxy:2.8-alpine
    container_name: haproxy
    ports:
      - "8000:8000"      # Traffic
      - "8404:8404"  # Dashboard (See the magic happening)
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      # Socket for dynamic commands (The Secret Sauce)
      - haproxy-socket:/var/run/haproxy

  haproxy-sidecar:
      build:
        context: .
        dockerfile: Dockerfile.haproxy-sidecar
      container_name: haproxy-sidecar
      privileged: true
      user: root      
      depends_on:
        - haproxy
        - consul
      volumes:
        # Templates and Scripts
        - ./haproxy/hosts.ctmpl:/etc/consul-templates/hosts.ctmpl
        - ./haproxy/update-haproxy.sh:/etc/consul-templates/update-haproxy.sh
        # Access to the socket
        - haproxy-socket:/var/run/haproxy
      # The Command: Run template, output to /tmp, trigger script
      command: >
        -consul-addr=consul:8500
        -template="/etc/consul-templates/hosts.ctmpl:/tmp/hosts.map:/bin/sh /etc/consul-templates/update-haproxy.sh"
  ws-app:
    image: 'docker.io/jonathas.santos/ws-app:1.0.4-${OS_ARCH}'
    ports:
      - '8088'
    environment:
      - PORT=8088
      # CRITICAL: This tells Registrator to call it "ws-app"
      - SERVICE_8088_NAME=ws-app
      - SERVICE_8080_IGNORE=true
      - SERVICE_8443_IGNORE=true
      # Optional: Tell Registrator which port to check (if image exposes multiple)
      - SERVICE_PORT=8088     
    depends_on:
      - haproxy
      - consul
  ws-balancer-app:
    image: 'docker.io/jonathas.santos/connection_rebalancer_app:1.0.1-${OS_ARCH}'
    ports:
      - '8488:8488'
    depends_on:
      - haproxy
      - consul
  ws-frontend-app:
    image: 'docker.io/jhonnyvennom/communications_app:1.0.2-${OS_ARCH}'
    ports:
      - '8489:80'
    depends_on:
      - haproxy
      - consul
  redis:
    image: redis
    ports:
      - '6379:6379'
    depends_on:
      - haproxy
      - consul
volumes:
  haproxy-socket: {}
