services:
  socket-proxy:
    image: tecnativa/docker-socket-proxy
    container_name: socket-proxy
    user: root
    privileged: true
    volumes:
      - '/var/run/docker.sock:/var/run/docker.sock:rw'
    ports:
      - '2375:2375'
    environment:
      - CONTAINERS=1
      - SERVICES=1
      - SWARM=1
      - TASKS=1
      - NETWORKS=1
      - NODES=1
      - INFO=1
      - VERSION=1
      - EVENTS=1
      - PING=1
      - POST=1      
  consul:
    image: hashicorp/consul:latest
    ports:
      - "8500:8500"
    command: agent -server -bootstrap -ui -client=0.0.0.0

  registrator:
    image: gliderlabs/registrator:latest
    user: root
    privileged: true      
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:rw
    command: "-internal consul://consul:8500"
    depends_on:
      - consul

  haproxy:
    image: haproxy:2.8-alpine
    container_name: haproxy
    ports:
      - "8000:8000"      # Traffic
      - "8404:8404"  # Dashboard (See the magic happening)
    volumes:
      - ./haproxy/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro
      # Socket for dynamic commands (The Secret Sauce)
      - haproxy-socket:/var/run/haproxy

  haproxy-sidecar:
      build:
        context: .
        dockerfile: Dockerfile.haproxy-sidecar
      container_name: haproxy-sidecar
      privileged: true
      user: root      
      depends_on:
        - haproxy
        - consul
      volumes:
        # Templates and Scripts
        - ./haproxy/hosts.ctmpl:/etc/consul-templates/hosts.ctmpl
        - ./haproxy/update-haproxy.sh:/etc/consul-templates/update-haproxy.sh
        # Access to the socket
        - haproxy-socket:/var/run/haproxy
      # The Command: Run template, output to /tmp, trigger script
      command: >
        -consul-addr=consul:8500
        -template="/etc/consul-templates/hosts.ctmpl:/tmp/hosts.map:/bin/sh /etc/consul-templates/update-haproxy.sh"
  ws-app:
    image: 'jonathas.santos/tracker:jvm.test'
    ports:
      - '8088'
    environment:
      - PORT=8088
      # CRITICAL: This tells Registrator to call it "ws-app"
      - SERVICE_8088_NAME=ws-app
      - SERVICE_8080_IGNORE=true
      - SERVICE_8443_IGNORE=true
      # Optional: Tell Registrator which port to check (if image exposes multiple)
      - SERVICE_PORT=8088     
    depends_on:
      - haproxy
      - consul
  ws-balancer-app:
    image: 'jonathas.santos/connection_rebalancer_app:jvm.test'
    ports:
      - '8488:8488'
    depends_on:
      - haproxy
      - consul          
  mosquitto:
    image: 'eclipse-mosquitto:1.6.2'
    ports:
      - '1883:1883'
      - '9001:9001'
    depends_on:
      - haproxy
      - consul
  redis:
    image: redis
    ports:
      - '6379:6379'
    depends_on:
      - haproxy
      - consul
  prometheus:
    image: 'prom/prometheus:v2.26.0'
    container_name: prometheus
    ports:
      - '9090:9090'
    volumes:
      - './prometheus.yml:/etc/prometheus/prometheus.yml'
    command: '--config.file=/etc/prometheus/prometheus.yml'
    depends_on:
      - haproxy
      - consul
  grafana:
    image: grafana/grafana-enterprise
    container_name: grafana
    ports:
      - '3000:3000'
    volumes:
      - 'grafana_storage:/var/lib/grafana'
    depends_on:
      - prometheus
      - haproxy
      - consul
  jaeger-all-in-one:
    container_name: jaeger
    image: 'jaegertracing/all-in-one:latest'
    ports:
      - '15000:16686'
      - '14268:14268'
      - '4317:4317'
      - '4318:4318'
      - '14250:14250'
    environment:
      - COLLECTOR_OTLP_ENABLED=true
    depends_on:
      - haproxy
      - consul    
volumes:
  haproxy-socket: {}
  grafana_storage: {}  
